ETL by using pandas

In [2]:
import pandas as pd

In [3]:

#Extract data from csv file
df = pd.read_csv("../data/raw_data/orders.csv")
df.head()

,order_id,order_date,customer_id,customer_name,product,category,price,quantity,region,payment_method
0,1001,2024-01-05,C001,Rahul Sharma,Laptop,Electronics,55000,1,South,UPI
1,1002,2024-01-06,C002,Anita Verma,Mobile,Electronics,25000,2,North,Credit Card
2,1003,2024-01-06,C003,Amit Patel,Chair,Furniture,4500,4,West,Debit Card
3,1004,2024-01-07,C001,Rahul Sharma,Mouse,Electronics,800,3,South,UPI
4,1005,2024-01-08,C004,Neha Singh,Table,Furniture,8500,1,East,Net Banking

In [4]:
# Transform data from csv file
df['order_date'] = pd.to_datetime(df['order_date'])
df['total_amount'] = df['price'] * df['quantity']
df = df.drop_duplicates()
df.head()

,order_id,order_date,customer_id,customer_name,product,category,price,quantity,region,payment_method,total_amount
0,1001,2024-01-05,C001,Rahul Sharma,Laptop,Electronics,55000,1,South,UPI,55000
1,1002,2024-01-06,C002,Anita Verma,Mobile,Electronics,25000,2,North,Credit Card,50000
2,1003,2024-01-06,C003,Amit Patel,Chair,Furniture,4500,4,West,Debit Card,18000
3,1004,2024-01-07,C001,Rahul Sharma,Mouse,Electronics,800,3,South,UPI,2400
4,1005,2024-01-08,C004,Neha Singh,Table,Furniture,8500,1,East,Net Banking,8500

In [5]:
# Write cleaned orders to CSV
df.to_csv("../data/processed_data/orders_clean.csv", index=False)